//parsing of this file is very fragile
//make sure #line is immediately followed by its data
#verbose
-1
#rad
#events
10000
//--------muon_processes
#particle
mu-
#position(mm)
0. 0. 0.
#direction
0. 0. 1.
//--------
#material
Si
#momentum(MeV/c)
0.0
// ---
#generator
stopping
#run
#generator
captureUpdate
#run
#exit
