#verbose
-1
#rad
//--------Proton_processes
#particle
proton
#isITEP
#position(mm)
0. 0. 0.
#direction
0. 0. 1.
#events
100000
//--------
#material
C
#momentum(MeV/c)
1400.0
// ---
#generator
bertini
#run
// ---
#generator
binary
#run
//--------
#momentum(MeV/c)
7500.0
#events
100000
#generator
bertini
#run
#generator
ftfp
#run
// ---
#exit
