# Dependencies
node_modules

# Build output
.vitepress/dist
.vitepress/cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
